@import '../../assets//styles/settings';

.home-wrapper {
    .carousel-c-wrapper {
        position: relative;
        z-index: 0;

        .carousel-c-children {
            position: absolute;
            z-index: 1;

            .text-wrapper {
                padding: 100px 50px;

                #title {
                    color: $black;
                    font-size: $large-size;
                    font-weight: 900;

                    span {
                        color: $brown;
                    }
                }
                .buttons{
                    margin: 50px 0 ;
                    display: flex;
                    justify-content: space-between;
                    width: 300px;
                    .white-btn{
                        background-color: #00000000;
                        border: 2px solid $brown;
                    }
                }

            }
        }
        .carousel-root{
            .control-dots{
                margin-bottom: 50px;
                .dot{
                    transform: scale(3);
                    border: 1px solid $black;
                    margin: 0 30px 30px ;
                    box-shadow: none;
                }
                .dot:not(.selected){
                    opacity: 100%;
                    background-color: #00000000;
                }
                .selected{
                    background-color: $black;
                }
            }
        }
    }
}